<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JsonEditorDb"
      connectionString="server=localhost;port=3308;user id=jsoneditor;password=wNSUBo50qLgpQS8N7IW7;persist security info=True;database=jsoneditor;Convert Zero Datetime=True;Allow User Variables=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>